# Virtual Environment
venv/
ENV/
env/

# Environment Variables / Secrets
.env
.env.*
custom_prompt.txt

# Database files
*.db
*.sqlite3

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE files
.vscode/
.idea/
